<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EmotivEntities" connectionString="metadata=res://*/EmotivDB.csdl|res://*/EmotivDB.ssdl|res://*/EmotivDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WIN-J5CDJNH70K3\SQLEXPRESS;Initial Catalog=Emotiv;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>